<h1>Registrations:</h1>

<h1>Registration Number: <%= @registration.registration_number %></h1>
<h1>Registration Name: <%= @registration.course.name %></h1>


<h2><%= link_to "Drop this course", registration_path(@registration), method: :delete %></h2>
