<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          <h3 class="card-title text-center"><%= link_to  "My courses", student_mycourses_path %></h3>
            <hr class="my-4">
          <h3 class="card-title text-center"><%= link_to("Register for a class", new_registration_path) %></h3>


