<h3> Courses:  </h3>


<ul>
<% current_user.courses.each do |course| %>
  <li><%= link_to course.name, course_path(course) %></li>
<% end %>
</ul>


<h4>Total Credits: <%= Course.joins(:students).where({students: {id: current_user.id}}).sum(:credit)%></h4>

<%= link_to "Back to home page", student_home_path %>