
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-4">
      <h1 class="font-weight-light"> Address: <%= @university.address %>  </h1>
    </div>
  </div>
</div>