<% if p_logged_in? == false && s_logged_in? == false%>
<h1 class="header"> <%= link_to "Sign up", create_path %> A & A University <%= link_to "Login", login_path %></h1> 
<% end %>
<h3> <%= @university.address %> </h3>

<%= link_to "Back to home page", home_path %>
