<h1 class="header">Create an account</h1>

<h1 class="header"> <%= link_to "Create a student account", new_student_path %> </h1>
<h1 class="header"> <%= link_to "Create a professor account", new_professor_path %> </h1>

<%= link_to "Back to home page", home_path %>