
<h1 class="header"> University of Maryland</h1>


<h4> <%= link_to "Student", login_student_path %></h4>

<h4> <%= link_to "Professor", login_professor_path %></h4>

<h4> <%= link_to "Colleges", colleges_path %></h4>




