
<% if p_logged_in? == false && s_logged_in? == false%>
<h1 class="header"> <%= link_to "Sign up", create_path %> A & A University <%= link_to "Login", login_path %></h1> 
<% end %>

<h4> <%= link_to "Colleges", colleges_path %></h4>
<h4> <%= link_to "about", about_path %> </h4>



