<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-4">
      <h1 class="font-weight-light"> Courses: </h1>
          <hr class="my-4">


<h5>
<ul>
<% @courses.each do |course| %>
  <li><%= link_to course.name, course_path(course)%></li>
  <% end %>
</ul>
</h5>
</div>
      </div>
    </div>