<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-4">
      <h1 class="font-weight-light"> <%= @college.name %> </h1>
          <hr class="my-4">




<h3>Courses:</h3>
<ul> <% @college.courses.each do |course| %>
 <li> <%= link_to course.name, course_path(course) %></li>
<% end %>
</ul>

<hr class="my-4">
<h3> Professors: </h3>
<ul>
<% @college.professors.each do |professor| %>
  <li><%= link_to professor.name, professor_path(professor) %></li>
<% end %>
</ul>


</div>
      </div>
    </div>